@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.woff") format('woff'),
    url("fonts/Roboto-Regular.woff2") format("woff2"),
    url("fonts/Roboto-Italic.woff") format('woff'),
    url("fonts/Roboto-Italic.woff2") format('woff2');
}

body{
    font-family: "Roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 84px;
}

.first-section{
    background: #1F2937;
    padding-top: 12px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.top-list{
    display: flex;
    gap: 18px;
}

ul{
    font-size: 18px;
    color:#E5E7EB;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
    font-style: italic;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 450px;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}

button{
    color: black;
    background-color: #E5E7EB;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    margin: 12px 0px;
    padding: 8px;
    width: 200px;
    border-color: #E5E7EB;
}

.intro{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro img{
    width: 450px;
}

.second-heading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.illustrations{
    display: flex;
    margin: 36px 0px;
    justify-content: space-between;
    width: 1000px;
}

.illustrations img{
    width: 200px;
}

.cards{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 18px;
    text-align: center;
}

.third-section{
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 400px;
    /* width: 1000px; */
}

.lyrics{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 600px;
}

.lyricist{
    font-size: 24px;
    font-weight: 900;
    margin-top: 24px;
    text-align: right;
}

.fourth-section{
    display: flex;
    background-color: #656167;
    justify-content: space-between;
    width: 1000px;
    box-sizing: border-box;
    color:#E5E7EB;
    font-size: 12px;
    padding: 48px 100px;
    border-radius: 12px;
}

.fourth-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.styled{
    font-size: 24px;
    font-weight: 900;
}

.fourth-section button{
    color: black;
    background-color: #E5E7EB;
    border-radius: 6px;
    width: 160px;
}

.footer{
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    text-align: center;
    padding: 32px 200px;
    width:1000px;
}